{% extends 'layout/default.html.twig' %}

{% block title %}{{ post.meta.title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ post.meta.description }}" />
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('blog') }}">Blog</a></li>
        <li class="active">{{ post.title }}</li>
    </ul>
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">
            {{ post.createDate|date('Y-m-d') }}
        </div>
        <div class="panel-body">{{ post.content.full|nl2br }}</div>
    </div>

    <h2>Comments</h2>

    {% for comment in post.comments %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="pull-right">{{ comment.date|date('Y-m-d') }}</span>
                {{ comment.author }}
            </div>
            <div class="panel-body">{{ comment.text|nl2br }}</div>
        </div>
    {% endfor %}
{% endblock %}