{% extends 'layout/default.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ post.title }}" />
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('blog') }}">Blog</a></li>
        <li class="active">{{ post.title }}</li>
    </ul>
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            {{ post.date|date('Y-m-d') }}
        </div>
        <div class="panel-body">{{ post.content|nl2br }}</div>
    </div>
{% endblock %}